option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: 18.x
    GzipCompression: true
  
  # Environment variables (optional)
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8081

  # Proxy server settings (optional)
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx